################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/PortScanner/bin/Debug/netcoreapp2.1
/PortScanner/obj
